@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: Stargaze;
  src: url(../font/Stargaze.woff) format(woff);
}
@font-face {
  font-family: Stentiga;
  src: url(../font/stentiga.woff) format(woff);
}
@font-face {
  font-family: Nexa-sans;
  src: url(../font/nexa-rust.sans-black.otf) format(woff);
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  width: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#status {
  width: 80px;
  height: 80px;
  background-image: url("../assets/loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -20px 0 0 -20px;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

* {
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: -moz-max-content;
  height: max-content;
  background-color: #0b0301;
  overflow-x: hidden;
}

main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(25, 23, 23, 0.8);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.nav-container .nav-icon img {
  width: 10rem;
}
.nav-container .nav-hamb-icon {
  padding: 8px;
  border-radius: 50px;
  display: none;
}
.nav-container .nav-hamb-icon img {
  width: 2rem;
}
.nav-container .nav-hamb-icon:hover {
  background-color: rgb(41, 38, 38);
}
.nav-container .nav-options {
  display: block;
}
.nav-container .nav-options ul {
  display: flex;
  gap: 20px;
}
.nav-container .nav-options li a {
  color: white;
  font-family: Nexa-sans;
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-container .nav-options li a:hover {
  color: rgb(255, 200, 0);
}
.nav-container .nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav-container .nav-toggle span {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  background-color: #000;
}
.nav-container .nav-toggle span:nth-child(2) {
  width: 16px;
}
.nav-container .nav-toggle span:last-child {
  margin-bottom: 0;
}

.banner {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .background-video {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.banner .background-video img {
  width: 100%;
  min-height: 100vh;
}
.banner .banner-container {
  width: auto;
  display: flex;
  justify-content: center;
  z-index: 500;
}
.banner .banner-container .banner-logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.banner .banner-container .banner-logo img {
  max-width: 70%;
  height: auto;
  margin-right: 20px;
}
.banner .banner-container .banner-content {
  display: flex;
  align-items: center;
}
.banner .banner-container .banner-content img {
  max-width: 80%;
  height: auto;
}
.banner .black-shadow {
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 10rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 82%);
  z-index: 50;
}

.countdown-container {
  background-color: #000000;
  padding: 20px;
  color: white;
  font-family: Nexa-sans;
  letter-spacing: 2px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.countdown-container #countdown {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.countdown-container #countdown h1 {
  background-color: rgba(255, 255, 255, 0.03);
  background-image: -o-linear-gradient(top, #111, #0c0c0c);
  font-size: 2em;
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  margin-top: 7rem;
  min-width: 100%;
}
.countdown-container #countdown span {
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1rem;
}
.countdown-container #countdown .fire {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}
.countdown-container #countdown .burn {
  animation: animation 0.65s ease-in-out infinite alternate;
  -moz-animation: animation 0.65s ease-in-out infinite alternate;
  -webkit-animation: animation 0.65s ease-in-out infinite alternate;
  -o-animation: animation 0.65s ease-in-out infinite alternate;
}
@keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9, -20px -20px 40px #feec85, 22px -42px 60px #ffae34, -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}
.countdown-container #countdown .countdown {
  display: flex;
}
.countdown-container #countdown .countdown .box {
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.countdown-container #countdown .countdown .number {
  width: 6rem;
  height: 6rem;
  font-size: 48px;
  font-weight: bold;
  background-color: #bd4b3a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: #9e3828 0px 5px 15px;
}
.countdown-container #countdown .countdown .label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

#about {
  height: 100vh;
  background-color: #0b0301;
  position: relative;
  padding: 20px;
}
#about .about-container {
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about .about-container .logo-light {
  position: absolute;
  width: 50%;
  left: -120px;
  top: 50px;
  opacity: 0.1;
}
#about .about-container h2 {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Nexa-sans;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 10px;
}
#about .about-container h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 8px;
  background-color: rgb(255, 145, 0);
  z-index: 1;
}
#about .about-container p {
  margin-top: 1rem;
  width: 90%;
  text-align: justify;
  font-size: 25px;
  color: white;
  font-family: Manrope;
  font-weight: 500;
}

#proshow-list .event-list-item {
  padding-bottom: 25px !important;
  height: auto !important;
}

#event {
  min-height: 100vh;
  position: relative;
  padding: 20px;
}
#event .event-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#event .event-container h2 {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Nexa-sans;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
}
#event .event-container h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 8px;
  background-color: rgb(255, 145, 0);
  z-index: 1;
}
#event .event-container .event-list {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}
#event .event-container .event-list .event-list-item {
  width: 22rem;
  height: 35rem;
  background-color: white;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s ease-in;
}
#event .event-container .event-list .event-list-item:hover {
  border: 1px solid rgb(255, 145, 0);
  transform: scale(1.03);
  transition: 0.2s ease-in;
}
#event .event-container .event-list .event-list-item .img-container {
  background-color: yellow;
  position: relative;
}
#event .event-container .event-list .event-list-item .img-container img {
  width: 100%;
  height: 100%;
}
#event .event-container .event-list .event-list-item .img-container .event-type {
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 191, 0);
  padding: 8px 10px;
  font-family: Manrope;
  font-size: 13px;
  font-weight: bold;
}
#event .event-container .event-list .event-list-item .event-details {
  padding: 15px 15px 0px 15px;
}
#event .event-container .event-list .event-list-item h1 {
  font-family: Manrope;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 5px;
  word-wrap: break-word;
}
#event .event-container .event-list .event-list-item p {
  font-family: Manrope;
  font-size: 14px;
}
#event .event-container .event-list .event-list-item .reg-btn {
  width: 100%;
  position: absolute;
  background-color: rgb(255, 145, 0);
  text-align: center;
  padding: 12px 0;
  color: white;
  font-size: 16px;
  font-family: Manrope;
  font-weight: bold;
  bottom: 0;
}
#event .event-container .event-list .event-list-item .reg-btn:hover {
  background-color: rgb(199, 113, 0);
}

#team {
  min-height: 100vh;
  position: relative;
  padding: 20px;
  color: white;
  background-image: url(../assets/footer-background.png);
  background-size: cover;
  background-attachment: scroll;
}
#team .team-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#team .team-container h2 {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Nexa-sans;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
}
#team .team-container h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 8px;
  background-color: rgb(255, 145, 0);
  z-index: 1;
}
#team .team-container .team-name {
  font-size: 30px;
  margin-top: 40px;
  font-family: Manrope;
}
#team .team-container .team-name span {
  color: orange;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.team-list .team-card-container {
  flex: 0 0 30%;
  background-color: rgb(23, 23, 22);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  height: -moz-max-content;
  height: max-content;
  min-width: 350px;
}
.team-list .team-card-container:hover .profile-img-container img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  filter: grayscale(1);
}
.team-list .team-card-container .team-card {
  display: flex;
  font-family: Manrope;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.team-list .team-card-container .team-card .profile-img-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-color: rgb(50, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-list .team-card-container .team-card .profile-img-container img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  transform-origin: center;
}
.team-list .team-card-container .team-card .card-logo {
  position: absolute;
  width: 30px;
  right: 10px;
  bottom: 10px;
  opacity: 0.5;
}
.team-list .team-card-container .team-card .profile-details {
  padding: 15px;
  min-width: 150px;
  word-wrap: break-word;
}
.team-list .team-card-container .team-card .profile-details .team-card-Name {
  font-size: 1.3rem;
  font-weight: bold;
}
.team-list .team-card-container .team-card .profile-details .position {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.team-list .team-card-container .team-card .profile-details .team-card-email, .team-list .team-card-container .team-card .profile-details .team-card-phone {
  font-size: 0.7rem;
}
.team-list .team-card-container .team-card .profile-details .follow {
  background-color: orange;
  width: -moz-max-content;
  width: max-content;
  padding: 4px 20px;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.7rem;
}

#contact {
  min-height: 100vh;
  position: relative;
  color: white;
  background-image: url(../assets/footer-background.png);
  background-size: cover;
  background-attachment: scroll;
}
#contact .contact-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .contact-container h2 {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Nexa-sans;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
}
#contact .contact-container h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 8px;
  background-color: rgb(255, 145, 0);
  z-index: 1;
}
#contact .contact-container .contact-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
#contact .contact-container .contact-wrap .map {
  margin-top: 30px;
  height: 100%;
  background-color: yellow;
}

.footer-distributed {
  background-color: #090000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px Manrope;
  padding: 45px 50px;
  border-top: 2px solid white;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #1d1b1b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }
  .nav-container .nav-hamb-icon {
    display: block;
  }
  .nav-container .nav-hamb-icon .fa {
    color: white;
    font-size: 25px;
  }
  .nav-container .nav-options {
    height: 100vh;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(24, 23, 23, 0.8);
    padding: 20px;
  }
  .nav-container .nav-options ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-container .nav-options li {
    margin: 10px 0;
    font-size: 24px;
  }
  .nav-container .nav-options li:hover {
    color: rgb(255, 200, 0);
  }
  .nav-container .nav-options.active {
    display: block;
  }
  .banner .banner-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
  .banner .banner-container .banner-logo {
    width: 70%;
  }
  .banner .banner-container .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .countdown-container #countdown {
    min-width: 18rem;
  }
  .countdown-container #countdown h1 {
    font-size: 40px;
    word-wrap: break-word;
    margin-top: 60px;
    overflow-wrap: break-word;
  }
  .countdown-container #countdown span {
    letter-spacing: 0;
  }
  .countdown-container #countdown .countdown .number {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 30px;
  }
  .countdown-container #countdown .countdown .label {
    font-size: 12px;
    margin-top: 4px;
  }
  #about .about-container p {
    font-size: 18px !important;
  }
  #about .about-container .logo-light {
    width: 90%;
  }
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
  #event .event-container .event-list .event-list-item {
    width: 19rem;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 70px;
  }
  .team-list .team-card-container {
    flex: 0 0 80%;
  }
  .team-list .team-card-container {
    min-height: 20rem;
  }
  .team-list .team-card-container .profile-details {
    min-width: 0rem !important;
  }
  .team-list .team-card-container .team-card {
    flex-direction: column;
  }
  #contact .contact-container .map-container {
    flex-direction: column;
  }
}
.map {
  height: 30rem;
  background-color: yellow;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map iframe {
  height: 100%;
  width: 100%;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 20px;
  position: relative;
  max-width: 840px;
  margin-bottom: 30px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  width: 300px;
  font-family: "Lato";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

.form-control {
  width: 100%;
  color: #fff;
  letter-spacing: 1px;
}

textarea {
  border: none;
  background-color: #000;
  outline: none;
}

.send-button {
  height: 50px;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background-color: orange;
  outline: none;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-send-button {
  width: -moz-max-content;
  width: max-content;
  height: 34px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
}

.send-text {
  display: block;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
}

.list-item {
  line-height: 2.5;
  color: #aaa;
}

.contact-text {
  font: 300 15px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.contact-input {
  border: 1px solid white;
  padding: 8px;
}
.contact-input input {
  background-color: #000;
  width: 100%;
  border: none;
  outline: none;
}

.map-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.place, .phone, .gmail {
  margin-left: 12px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0px !important;
    flex-direction: column-reverse;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (max-width: 569px) {
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control, textarea {
    margin: 0 auto;
  }
  .name, .email, textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  .contact-list {
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
  }
  .map {
    height: 10rem;
  }
}
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}/*# sourceMappingURL=index.css.map */