@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: Stargaze;
    src: url(../font/Stargaze.woff) format(woff);
}
  
@font-face {
    font-family: Stentiga;
    src: url(../font/stentiga.woff) format(woff);
}

@font-face {
    font-family: Nexa-sans;
    src: url(../font/nexa-rust.sans-black.otf) format(woff);
}
.hidden{
    display: none !important;
}
.visible{
    display: block !important;
}
*{
    padding: 0;
    margin: 0;
}
a,a:hover,a:focus{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
main{
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
}
section{
    scroll-snap-align: start;
}
nav{
    width: 100%;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(5px);
    background-color: rgba(25, 23, 23, 0.8);
}
.nav-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    .nav-icon{
        img{
            width:10rem;
        }
    }
    .nav-hamb-icon{
        padding: 8px;
        border-radius: 50px;
        display: none;
        img{
            width: 2rem;
        }
        &:hover{
            background-color: rgb(41, 38, 38);
        }
    }
    .nav-options{
        display: block;
        ul{
            display: flex;
            gap: 20px;
        }
        li a{
            color: white;
            font-family: Nexa-sans;
            letter-spacing: 2px;
            cursor: pointer;
            &:hover{
                color: rgb(255, 200, 0);
            }
        }
    }
    .nav-toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        span {
            display: block;
            width: 22px;
            height: 2px;
            margin-bottom: 4px;
            background-color: #000;
            &:nth-child(2) {
                width: 16px;
              }
            &:last-child {
                margin-bottom: 0;
              }
          }
      }
}

.banner{
    height: 100vh;
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-container{
        width: auto;
        display: flex;
        justify-content: center;
        .banner-logo{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: end;
            img{
                max-width: 70%;
                height: auto;
                margin-right: 20px;

            }
        }
        .banner-content{
            display: flex;
            align-items: center;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }

}

.countdown-container{
    background-color: #922f20;
    padding: 20px;
    color: white;
    font-family: Nexa-sans ;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
}
#about{
    height: 100vh;
    background-color: #0b0301;
    position: relative;
    padding: 20px;
    .about-container{
        max-width: 1200px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logo-light{
            position: absolute;
            width: 40%;
            left: -120px;
            top: 50px;
            opacity: 0.15;
        }
        h2{
            width: max-content;
            text-align: center;
            color: white;
            font-size: 2rem;
            font-family: Nexa-sans ;
            letter-spacing: 2px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 4px;
                width: 100%;
                height: 8px; /* adjust the height of the rectangle box to your preference */
                background-color: rgb(255, 145, 0);
                z-index: 1;
              }
        }
        p{
            margin-top:1rem;
            width: 90%;
            text-align: center;
            font-size: 25px;
            color: white;
            font-family: Manrope;
            font-weight: 500;
        }
    }

}

@media screen and (max-width: 768px) {
    .nav-container {
      position: relative;
      .nav-hamb-icon{
        display: block;
        }
      .nav-options {
        height: 100vh;
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(25, 23, 23, 0.8);
        padding: 20px;
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;
          }
        li {
            margin: 10px 0;
            font-size: 24px;
            &:hover {
                color: rgb(255, 200, 0);
            }
        }
        &.active {
            display: block;
        }
      }
    
    }
  }